// VARIABLES THEME

// COLOR GENERAL

$color-light:         #ffffff;
$color-dark:          #000000;

// COLOR FONTS
$color-font-base:     $color-dark;
$color-font-base-alt: #000000;
$color-font-light:    #ffffff;

// FONTS
$font-base: 'Quicksand', sans-serif;
$font-alt:  'Dosis', sans-serif;
